<%= form_for servidor do |f| %>
  <div class="form-group has-feedback">
    <%= f.label :nome, "Nome completo do servidor" %>

    <%= f.text_field :nome,
        class: "form-control",
        placeholder:"Exemplo: João da silva...",
        required: true %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :email, "E-mail do servidor para contato" %>

    <%= f.email_field :email,
        class: "form-control",
        placeholder:"Exemplo: joao@utfpr.edu.br...",
        required: true %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :telefone, "Telefone do servidor para contato" %>

    <%= f.text_field :telefone,
        class: "form-control",
        placeholder:"Exemplo: 13 991714931",
        required: true %>
  </div>

<div class="box-footer">
  <%= f.submit (servidor.persisted? ? "Confirmar edição" : "Confirmar cadastro"), class: "btn btn-primary" %>
</div>
<% end %>
