<% content_for :titulo do %>
  Listagem de todos os servidores
<% end %>
<div class="box box-primary">
    <div class="box-body">

<% if @servidores.empty? %>
<p> Nenhum registro de servidor encontrado.</p>
<% else %>


  <table class="table table-hover table-linkable">
            <tbody>
              <tr>
              <th>Nome do servidor</th>
              <th>Email</th>
              <th></th>
              <th></th>

            </tr>
            <% @servidores.each do |servidor| %>
            <tr data-href="<%=  servidor_path(servidor) %>">
            <td><%= servidor.nome %></td>
            <td><%= servidor.email %></td>
            <td><%= link_to 'Editar', edit_servidor_path(servidor), class: "btn btn-primary"%></td>
            <td><%= link_to 'Excluir' , servidor_path(servidor), method: :delete, class: "btn btn-danger",
             data:{confirm: "Tem certeza que deseja excluir o servidor #{servidor.to_s}?"} %></td>


            </tr>
            <% end %>
          </tbody>
        </table>
<% end %>
</div>

</div>
<%= link_to 'Cadastrar novo servidor', new_servidor_path, class:"btn btn-primary" %>
</section>
