<%= form_with(model: calouro, local: true) do |form| %>
  <% if calouro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calouro.errors.count, "error") %> prohibited this calouro from being saved:</h2>

      <ul>
      <% calouro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :calouro_nome %>
  </div>

  <div class="field">
    <%= form.label :idade %>
    <%= form.number_field :idade, id: :calouro_idade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
