<% content_for :titulo do %>
  Listagem de todas as salas
<% end %>
<div class="box box-primary">
    <div class="box-body">

<% if @salas.empty? %>
<p> Nenhum registro de sala encontrado.</p>
<% else %>


  <table class="table table-hover table-linkable">
            <tbody>
              <tr>
              <th>Código da sala</th>
              <th>Status</th>
              <th>Pessoas atualmente</th>
              <th></th>
              <th></th>

            </tr>
            <% @salas.each do |sala| %>
            <tr data-href="<%= sala_path(sala) %>">
            <td><%= sala.to_s %></td>
            <td></td>
            <td></td>
            <td><%= link_to 'Editar', edit_sala_path(sala), class: "btn btn-primary"%></td>
            <td><%= link_to 'Excluir' , sala_path(sala), method: :delete, class: "btn btn-danger",
             data:{confirm: "Tem certeza que deseja excluir a sala #{sala.to_s}?"} %></td>


            </tr>
            <% end %>
          </tbody>
        </table>
<% end %>
</div>

</div>
<%= link_to 'Cadastrar nova sala', new_sala_path, class:"btn btn-primary" %>
</section>
